{% extends "base.html" %}

{% block title %}FitTab Information{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style_info.css') }}">
{% endblock %}

{% block content %}
<div class="content">
    <h2>ABOUT US</h2>
    <p id='p'>
        Welcome to FITTAB, where we blend the latest in technology with expert guidance to revolutionize<br>
        your fitness journey. Specializing in personalized advice and exercise guidance under the supervision,<br>
        of Artificial Intelligence, we ensure every workout is optimized for your goals and tailored to your<br>
        unique fitness level. Whether you're a beginner looking to start your fitness journey or a seasoned<br>
        athlete aiming to reach new heights, our AI-driven approach delivers precise insights and actionable<br>
        plans to help you achieve sustainable results. Join us and discover the future of fitness, <br>
        where innovation meets personalized wellness
    </p>
    <h3>Additional Section</h3>
    <p>this product is non profitable</p>
</div>
{% endblock %}
